<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <script type="text/javascript" src="{{ "/dist/bundle.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/dist/main.css" | relative_url }}">
  </head>
  <body>
    <main class='turbolinks-animate'>
      {{ content}}
    </main>
  </body>
</html>
